.tile-list{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.tile-item{
    color: black;
  background-color: #E7EDF2;
  width: 394px;
  height: 56px;
  border: 2px solid #BDCEDB;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Ensure that the content (name + button) is spread out */
  align-items: center; /* Center items vertically */
  padding: 0 10px;
}
.tile-clr{
    color: black;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 18px;
  flex-grow: 1;
}

.tile-clr a{
  width: 100%;
}

.edit-delete-btn{
    display: flex;
    flex-direction: row;
}

.edit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .edit-icon {
    font-size: 18px;
    color: #13507F;
  }
  
  
.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-icon {
    font-size: 18px;
    color: #13507F;
  }