.pr-tile-list {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  .pr-tile-item {
    color: black;
    background-color: #E7EDF2;
    width: 80%;
    height: 56px;
    border: 2px solid #BDCEDB;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Ensure that the content (name + button) is spread out */
    align-items: center; /* Center items vertically */
    padding: 0 10px; /* Add padding to the left and right of the item */
  }
  
  .pr-tile-clr {
    color: black;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 18px;
    flex-grow: 1; /* Allow the program name to take up remaining space */
  }
  